<!DOCTYPE html>
<html>
    <head lang="ko">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var socket = io.connect("http://" + document.domain + ":" + location.port + "/mynamespace");
                socket.on("response", function(message){
                    $('#received').append("<p>" + message.username + ": " + message.data + "</p>");
                });

                $("form#broadcast").submit(function(event){
                    if ($("#input-data").val() == "") {
                        return false;
                    }

                    socket.emit("request", {data: $("#input-data").val()});
                    $("#input-data").val("");
                    return false;
                })
            });
        </script>
        <meta charset="UTF-8">
        <title>socket io title</title>
    </head>
    <body>
        <h1>Received</h1>
        <div id="received">
        </div>

        <form id="broadcast" action="#">
            <input id="input-data" type="text">
            <input type="submit">
        </form>
    </body>
</html>