<!DOCTYPE html>
<html>
    <head lang="ko">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                function get_call_token() {
                    var call_token = $('#call_token').val();
                    console.log('current call_token: ' + call_token);
                    return call_token;
                }

                var start_fn = (is_caller) => { 
                    console.log('starting');

                    //var ws = new WebSocket('ws://' + document.domain  + ':' + location.port + '/rtc');
                    var ws = new WebSocket('wss://' + document.domain  + ':' + location.port + '/rtc');
                    console.log('connecting websockets');

                    ws.onclose = () => {
                        console.log('websocket onclose');
                    }

                    ws.onopen = event => {
                        console.log('websocket onopen');
                        ws.send(JSON.stringify({
                            id: 'new'
                        }));

                        var peer_connection = new RTCPeerConnection({
                            "iceServers": [
                                { "urls": "stun:stun.l.google.com:19302" }
                            ]
                        });
                        console.log("creating rtcpeerconnection");

                        // generic handler that sends any ice candidates to the other peer
                        peer_connection.onicecandidate = function (ice_event) {
                            console.log('onicecandidate event');

                            if (ice_event.candidate) {
                                ws.send(JSON.stringify({
                                    id: 'new_ice_candidate', 
                                    candidate: ice_event.candidate
                                }));
                                console.log('sent new_ice_candidate');
                            }
                        };

                        // display remote video streams when they arrive using local <video> MediaElement
                        peer_connection.onaddstream = function (event) {
                            console.log('onaddstream event');

                            const mediaObj = $('#remote_video');
                            mediaObj.srcObject = event.stream;
                            mediaObj[0].play();
                        };

                        // caller만... 테스트를 위해..
                        if (is_caller) {
                            var gum = null;
                            if (navigator.getUserMedia) {
                                console.log('gum : navigator.getUserMedia')
                                gum = (c, s, e) => navigator.getUserMedia(c, s, e);
                            }
                            else if (navigator.webkitGetUserMedia) {
                                console.log('gum : navigator.webkitGetUserMedia')
                                gum = (c, s, e) => navigator.webkitGetUserMedia(c, s, e);
                            }
                            else if (navigator.mozGetUserMedia) {
                                console.log('gum : navigator.mozGetUserMedia')
                                gum = (c, s, e) => navigator.mozGetUserMedia(c, s, e);
                            }
                            else if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                                console.log('gum : navigator.mediaDevices.getUserMedia')
                                gum = (c, s, e) => navigator.mediaDevices.getUserMedia(c, s, e);
                            }
                            else {
                                console.log('gum : null')
                                gum = null;
                            }
                            gum({
                                video: true,
                                audio: true
                            }, stream => {
                                console.log('getusermedia succeed');

                                var mediaObj = $('#local_video')[0];
                                mediaObj.srcObject = stream;

                                mediaObj.play();

                                stream.getTracks().forEach(track => { peer_connection.addTrack(track, stream); });
                            }, err => {
                                console.log('getusermedia error');
                                console.log(err);
                            });
                        }

                        if (is_caller) {
                            ws.onmessage = event => {
                                var msg = JSON.parse(event.data);

                                switch (msg.id) {
                                    case 'new_ice_candidate':
                                        console.log('caller: on new_ice_candidate socket.io handler');
                                        peer_connection.addIceCandidate(new RTCIceCandidate(msg.candidate));
                                        break;

                                    case 'callee_join':
                                        console.log('caller: on callee_join socket.io handler');

                                        peer_connection.createOffer()
                                        .then(description => {
                                            console.log ('caller: created offer completed');
                                            return peer_connection.setLocalDescription(description);
                                        })
                                        .then(() => {
                                            ws.send(JSON.stringify({
                                                id: 'new_description', 
                                                call_token: get_call_token(), 
                                                sdp:peer_connection.localDescription
                                            }));
                                            console.log('caller: sent new description');
                                        })
                                        .catch(error => {
                                            console.log('create offer error : ' + error);
                                        });

                                        console.log('caller: created offer');
                                        break;

                                    case 'new_description':
                                        console.log('caller: on new_description socket.io handler');
                                        peer_connection.setRemoteDescription(new RTCSessionDescription(msg.sdp))
                                        .then(() => {
                                            console.log('caller: setRemoteDescription completed');
                                        })
                                        .catch(error => {
                                            console.log('caller: setRemoteDescription error: ' + error);
                                        });
                                        break;
                                }
                            };

                            ws.send(JSON.stringify({
                                id: "caller_join", 
                                call_token: get_call_token()
                            }));
                            console.log('sent caller_join');

                            $('loading_state').val("ready to call.. ask your friend to visit.");
                        }
                        else {
                            ws.onmessage = event => {
                                var msg = JSON.parse(event.data);

                                switch (msg.id) {
                                    case 'new_ice_candidate':
                                        console.log('callee: on new_ice_candidate socket.io handler');
                                        peer_connection.addIceCandidate(new RTCIceCandidate(msg.candidate));
                                        break;

                                    case 'new_description':
                                        console.log('callee: on new_description socket.io handler');
                                        peer_connection.setRemoteDescription(new RTCSessionDescription(msg.sdp))
                                        .then(() => {
                                            console.log('callee: setRemoteDescription completed');

                                            if (peer_connection.remoteDescription.type != 'offer') {
                                                console.log('callee: remoteDescription type is not offer. error.');
                                                return;
                                            }

                                            peer_connection.createAnswer()
                                            .then(description => {
                                                console.log ('callee: created answer completed');
                                                return peer_connection.setLocalDescription(description);
                                            })
                                            .then(() => {
                                                ws.send(JSON.stringify({
                                                    id: 'new_description', 
                                                    call_token: get_call_token(), 
                                                    sdp:peer_connection.localDescription
                                                }));
                                                console.log('callee: sent new_description');
                                            })
                                            .catch(error => {
                                                console.log('callee: create answer error : ' + error);
                                            })
                                        })
                                        .catch(error => {
                                            console.log('callee: setRemoteDescription error: ' + error);
                                        });
                                        break;
                                }
                            };

                            ws.send(JSON.stringify({
                                id: "callee_join", 
                                call_token: get_call_token()
                            }));
                            console.log('callee: sent callee_join');

                            $('loading_state').val("One moment please... connecting your call...");
                        }
                    };
                };

                $("#call_btn").click(function(){
                    console.log('call_btn clicked');
                    start_fn(true);
                });

                $("#join_btn").click(function(){
                    console.log('call_btn clicked');
                    start_fn(false);
                })
            });
        </script>
        <style type="text/css">
            #local_video {
                width: 320px;
                height: 240px;
                border: 1px solid darkgray;
            }

            #remote_video {
                width: 640px;
                height: 480px;
                border: 1px solid darkgray;
            }
        </style>
        <meta charset="UTF-8">
        <title>socket io title</title>
    </head>
    <body>
        <input type="text" id="call_token"></input>
        <input type="button" id="call_btn" value="call"></input>
        <input type="button" id="join_btn" value="join"></input>

        <div id="loading_state">
            <p>loading...</p>
        </div>

        <div id="open_call_state">
            <video id="local_video" controls alt="local video"></video>
            <video id="remote_video" controls alt="remote video"></video>
        </div>
    </body>
</html>
